@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
@import url('https://fonts.googleapis.com/css?family=Arvo');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
/*
font-family: 'Permanent Marker', cursive;
font-family: 'Arvo', serif;
font-family: 'Source Sans Pro', sans-serif;
*/

/* GENERAL */

html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.container-fluid {
  padding: 0;
}

.row {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

/* FONTS */

h1 {
  font-family: 'Permanent Marker', cursive;
}

h2, h3, h4, h5, h6 {
  font-family: 'Arvo', serif;
  font-weight: 400;
  line-height: normal;
  margin: 0 0 .7em;
}

h4#help-text {
  font-family: 'Permanent Marker', cursive;
}

h1.welcome {
  text-align: right;
  font-size: 2em;
  color: #225575;
  margin-right: 30px;
}

h3#about {
  color: #f3efe3;
  font-size: 1.3em;
  text-shadow: 0 2px 1px rgba(0, 0, 0, .6);
}

h1#alert {
  color: #f3efe3;
  font-family: 'Arvo', serif;
  font-weight: 400;
  font-size: 20px;
  line-height: normal;
  text-decoration: underline;
  cursor: pointer;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 17px;
  line-height: 25.5px;
  margin-bottom: 17px;
  text-align: left;
  color: #f3efe3;
  text-shadow: 0 2px 1px rgba(0, 0, 0, .6);
}

.fixed-to-top {
  position: fixed;
  z-index: 1;
  width: 99.25%;
  height: 50px;
}

.blue-spacer {
  background-color: #1090c8;
}

.strip-one {
  padding: 15px 0;
  background-color: #1090c8;
}

#logo-white {
  display: none;
}

#burger-nav-div {
  display: none;
}

ul.nav-one {
  text-align: right;
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}

ul.nav-one li {
  display: inline-block;
  margin-left: 30px;
}

ul.nav-one li a {
  text-decoration: none;
  color: #f3efe3;
  text-shadow: 0 2px 1px rgba(0, 0, 0, .6);
}

#spacer-strip {
  width: 100%;
  height: 55px;
}

#help-div {
  position: absolute;
  top: 0;
  left: 18%;
  width: 100px;
  height: 136px;
  background-image: url(../images/ribbon.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 20px 0 0 13px;
  font-family: 'Permanent Marker', cursive;
  font-weight: 400;
  color: #f2f2f2;
  z-index: 2;
}

#mobi-nav-menu {
  position: absolute;
  top: 0;
  right: -100%;
  transition: right .4s ease-in-out;
}

.off-white {
  color: #f3efe3;
}

.welcome-right {
  padding-right: 0;
}

form.search {
  float: right;
  margin-right: 0;
  padding-right: 0;
}

input.query {
  line-height: 1;
  margin: 0;
  padding: 8px;
  width: 220px;
  height: 39px;
  border-radius: 8px 0 0 8px;
  border: 2px solid #dad5c6;
  background: #f3efe3;
  font-size: 16px;
  box-sizing: border-box;
  color: #7b878d;
  font-family: 'Arvo', serif;
  float: left;
}

button#search-btn {
  background: #1090c8;
  padding: 7px 7px 8px 7px;
  border: 0;
  border-radius: 0 8px 8px 0;
  color: #ffffff;
}

button#search-btn:hover {
  cursor: pointer;
}

ul.nav-two {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
  float: right;
  position: absolute;
  top: 110px;
  right: 0;
}

ul.nav-two li {
  display: inline-block;
  padding: 1px 15px;
}

ul.nav-two li:hover {
  background-color: #1090c8;
}

ul.nav-two li a {
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  line-height: 50px;
  border-radius: 8px 8px 0 0;
  font-family: 'Arvo', serif;
}

ul.nav-two li a:hover {
  color: #f3efe3;
  text-shadow: 0 2px 1px rgba(0, 0, 0, .6);
}

ul.nav-two li.donate {
  background-color: #ee752c;
  border-radius: 8px 8px 0 0;
}

ul.nav-two li.donate:hover {
  background-color: #b34700;
}

ul.nav-two li.donate a {
  color: #fff;
}

#strip-two {
  width: 100%;

  background-color: #9966ff;
  text-align: center;
  padding: 15px 0;
}

.padded {
  padding: 25px 0px;
}

.banner-section {
  padding: 0;
  margin: 0;
}

#banner-mobi {
  display: none;
}

#banner-mobi-two {
  display: none;
}

img#banner-one {
  width: 100%;
  padding: 0;
  margin: 0;
}

#easter-promo {
  position: absolute;
  top: 24%;
  left:49%;
  transform: translateX(-49px);
  color: #176099;
  text-shadow: 0 2px 1px rgba(0, 0, 0, .6);
}

#easter-promo-mobi {
  display: none;
}

span#easter-text {
  font-size: 30px;
}

button.easter-button {
  padding: 12px 28px;
  border: 0;
  border-radius: 8px;
  background-color: #29a329;
  color: #f3efe3;
  margin-top: 20px;
}

button.easter-button:hover {
  cursor: pointer;
  background-color: #ee752c;
}

span.prefix {
  color: #f3efe3;
  text-shadow: 0 2px 1px rgba(0, 0, 0, .8);
  margin-right: 6px;
}

input#num {
  line-height: 1;
  margin: 0;
  padding: 8px;
  border: 2px solid #dad5c6;
  background: #f3efe3;
  border-radius: 8px;
  box-sizing: border-box;
  color: #7b878d;
  font-family: 'Arvo',serif;
}

button.send-money {
  background-color: #7b878d;
  margin-left: 10px;
  font-family: 'Arvo',serif;
  color: #f3efe3;
  padding: 7px 10px;
  border: 0;
  border-radius: 4px;
}

button.send-money:hover {
  background-color: #ee752c;
  cursor: pointer;
}

#blue-section {
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 419px;
}

.mobi-padding {
  padding-right: 32px;
}

#curved-arrow {
  width: 120px;
  float: right;
}

iframe {
  width: 100%;
}

#overlay{
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f2f2f2;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: none;
}

#map {
	width: 50%;
	height: 25.25em;
  margin: auto;
  box-shadow: 6px 5px 16px #a6a6a6;
  border-radius: 8px;
}

#close-icon {
  position: absolute;
  top: 16px;
  right: 20px;
}

#close-icon:hover {
  cursor: pointer;
}


/*
==============================
MEDIA QUERIES
==============================
*/

@media screen and (max-width: 1366px) {
  .fixed-to-top {
    width: 100%;
  }

  #easter-promo {
    top: 11%;
    left:49%;
    transform: translateX(-49px);
  }

  h1 {
    font-size: 2.2rem;
  }

  span#easter-text {
    font-size: 22px;
  }

  button.easter-button {
    padding: 12px 21px;
  }

  #curved-arrow {
    position: absolute;
    bottom: 77px;
    left: 65%;
    width: 90px;
  }
}

@media screen and (max-width: 1024px) {
  h1 {
    font-size: 1.8rem;
  }

  #easter-promo {
    top: 2%;
    left:57%;
    transform: translateX(-49px);
  }

  button.easter-button {
    padding: 8px 12px;
  }
}

@media screen and (max-width: 850px) {
  .strip-one {
    height: 74px;
  }

  #spacer-strip {
    height: 74px;
  }

  ul.nav-one {
    display: none;
  }

  #burger-nav-div {
    display: block;
    width: 49px;
    position: relative;
    top: 0;
    left: 92%;
  }

  span.mobi-nav {
    display: block;
    width: 35px;
    padding: 3px;
    margin: 7px;
    background-color: #f5f5f5;
  }

  #logo-blue {
    width: 87px;
  }

  .mobi-padding {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
  }

  #logo-padding {
    padding: 12px 10px;
  }

  #mobi-nav-menu {
    position: fixed;
    z-index: 20;
    background-color: #f2f2f2;
    width: 100%;
    height: auto;
    top: 0;
  }

  ul#mobi-nav-menu-ul {
    list-style-type: none;
    margin-top: 70px;
    padding: 0;
  }

  li.mnm-li {
    display: block;
    padding: 16px 0;
    text-align: center;
    border-top: 1px solid #d9d9d9;
  }

  li.mnm-li#donate-nav {
    background-color: #ee752c;
  }

    li.mnm-li.li-blue {
      background-color: #1090c8;
    }

  li.mnm-li a {
    text-decoration: none;
    font-size: 1.25rem;
  }

  a.a-tag-white {
    color: #f2f2f2;
  }

  #mobi-nav-icon {
    position: absolute;
    top: 12px;
    right: 18px;
  }

  .welcome-right {
    padding-right: 10px;
  }

  .vid {
    padding-top: 0;
    padding-bottom: 0;
  }

  ul.nav-one {
    padding-right: 10px;
  }

  #banner-one {
    display: none;
  }

  #banner-mobi {
    display: block;
  }

  #easter-promo {
    display: none;
  }

  #easter-promo-mobi {
    display: block;
    text-align: center;
    background-color: #9966ff;
  }

  button.send-money {
    background-color: #ee752c;
  }

  #blue-section {
    height: auto;
  }

  #blue-text {
    padding-top: 30px;
    padding-bottom: 20px;
  }

  #curved-arrow {
    display: none;
  }
}

@media screen and (max-width: 420px) {
  .strip-one {
    height: 83px;
  }

  #logo-white {
    width: 60px;
    margin-left: 10px;
  }

  ul.nav-one {
    display: none;
  }

  #help-div {
    background-color: red;
    background-image: url("");
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    padding: 5px 0 0 0;
    height: 83px;
  }

  h4#help-text {
    font-size: 1.5rem;
    margin: 0;
  }

  #logo-white {
    display: block;
  }

  #burger-nav-div {
    display: block;
    width: 49px;
    position: absolute;
    top: 12px;
    left: 85%;
    z-index: 10;
  }

  #logo-blue {
    display: none;
  }

  #banner-mobi {
    display: none;
  }

  #banner-mobi-two {
    display: block;
  }

  .welcome-right {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  h1.welcome {
    margin-right: 0;
    text-align: center;
  }

}
