@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
@import url('https://fonts.googleapis.com/css?family=Arvo');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
/*
font-family: 'Permanent Marker', cursive;
font-family: 'Arvo', serif;
font-family: 'Source Sans Pro', sans-serif;
*/

/* GENERAL */

html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.container-fluid {
  padding: 0;
}

.row {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

/* FONTS */

h1 {
  font-family: 'Permanent Marker', cursive;
}

h2, h3, h4, h5, h6 {
  font-family: 'Arvo', serif;
  font-weight: 400;
  line-height: normal;
  margin: 0 0 .7em;
}

#help-text {
  font-family: 'Permanent Marker', cursive;
}

h3#about {
  color: #f3efe3;
  font-size: 1.3em;
  text-shadow: 0 2px 1px rgba(0, 0, 0, .6);
}

h1#alert {
  color: #f3efe3;
  font-family: 'Arvo', serif;
  font-weight: 400;
  font-size: 20px;
  line-height: normal;
  text-decoration: underline;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 17px;
  line-height: 25.5px;
  margin-bottom: 17px;
  text-align: left;
  color: #f3efe3;
  text-shadow: 0 2px 1px rgba(0, 0, 0, .6);
}

.fixed-to-top {
  position: fixed;
  z-index: 1;
  width: 99.25%;
}

.blue-spacer {
  background-color: #1090c8;
}

.strip-one {
  padding: 15px 0;
  background-color: #1090c8;
}

ul.nav-one {
  text-align: right;
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}

ul.nav-one li {
  display: inline-block;
  margin-left: 30px;
}

ul.nav-one li a {
  text-decoration: none;
  color: #f3efe3;
  text-shadow: 0 2px 1px rgba(0, 0, 0, .6);
}

#spacer-strip {
  width: 100%;
  height: 55px;
}

#help-div {
  position: absolute;
  top: 0;
  left: 18%;
  width: 100px;
  height: 136px;
  background-image: url(../images/ribbon.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 20px 0 0 13px;
  font-family: 'Permanent Marker', cursive;
  font-weight: 400;
  color: #f2f2f2;
  z-index: 2;
}

.off-white {
  color: #f3efe3;
}

#strip-two {
  width: 100%;

  background-color: #9966ff;
  text-align: center;
  padding: 15px 0;
}

.padded {
  padding: 25px 0px;
}

.banner-section {
  padding: 0;
  margin: 0;
}

img#banner-one {
  width: 100%;
  padding: 0;
  margin: 0;
}

#blue-section {
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 419px;
}

#curved-arrow {
  width: 120px;
  float: right;
}

iframe {
  width: 100%;
}


/*
==============================
MEDIA QUERIES
==============================
*/

@media screen and (max-width: 1366px) {
  .fixed-to-top {
    width: 100%;
  }
}

@media screen and (max-width: 850px) {
  .mobi-padding {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
  }

  .vid {
    padding-top: 0;
    padding-bottom: 0;
  }

  ul.nav-one {
    padding-right: 10px;
  }
}
